{% extends 'baseNavigation.html' %}
{% block title %}
Stack Overflow company page-Learn about stack overflow
{% endblock%}



{% block body %}
<h1>Profile page</h1>


<h3>All User Data</h3>

<p>
{% for i in all_user_data %}
    {{i.question_title}}
    {{i.question_status}} <br>
    <a class="btn btn-primary" href="{% url 'editQuestion' i.question_id %}" role="button">Edit</a>
    <a class="btn btn-danger" href="{% url 'deleteQuestion' i.question_id %}" role="button">Delete</a> </br>
{% endfor %}
</p></br>
{% endblock %}

</html>