{% extends 'baseNavigation.html' %}

{% block title %} LOGIN PAGE {% endblock%}


{% block body %}
<div class="container mt-5">
    <div class="row center">
        <div class="col-sm-6 center">
            <h1>Login</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="">User Name</label>
                <input type="text" class="form-control" name="username" placeholder="Enter UserName" />

                <label for=""> Enter Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter Password" />

                <input type="submit" class="btn btn-primary mt-2" value="LOGIN" />
            </form>
        </div>
    </div>
</div>

{% endblock %}