{% extends 'baseNavigation.html' %}
{% block title %}
Stack Overflow company page-Learn about stack overflow
{% endblock%}

{% block css%}
<style>

</style>

{% endblock %}



{% block body %}
<div class="about-section container">

    <h1 class="text-center my-4">About us<h1>
            <h3>
                <p>Our public platform serves 100 million people every month, making it one of the 50 most popular
                    websites
                    in the
                    world.</p>

                <p>Our asynchronous knowledge management and collaboration offering Stack Overflow for Teams, is
                    transforming how
                    people
                    work..</p>
                <p>Stack Overflow for Teams, our core SaaS collaboration product, is helping thousands of companies
                    around
                    the world make
                    the transition to remote work, address business continuity challenges, and undergo digital
                    transformation.

                    Whether it’s on Stack Overflow or within Stack Overflow for Teams, community is at the center of all
                    that we do.
                </p>
            </h3>


            <h1 class="text-center my-4">Our core values<h1>
                    <div class="row my-5">
                        <div class="col-sm-4">
                            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <h3>
                                    <div class="card-header">Adopt a customer-first mindset</div>
                                </h3>
                                <div class="card-body">
                                    <h5 class="card-title">Authentically serve our customers by empowering, listening
                                        and
                                        collaborating with our fellow Stackers.</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <h3>
                                    <div class="card-header">Be flexible and inclusive</div>
                                </h3>
                                <div class="card-body">
                                    <h5 class="card-title"> We do our best work when a diverse group of people
                                        collaborate in an
                                        environment of respect.
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <h3>
                                    <div class="card-header">Be transparent</div>
                                </h3>
                                <div class="card-body">
                                    <h5 class="card-title">Communicate openly and honestly, both inside and outside the
                                        company.
                                        Encourage transparency from others.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <h3>
                                    <div class="card-header">Empower people to deliver outstanding results</div>
                                </h3>
                                <div class="card-body">
                                    <h5 class="card-title">Give people space to get their job done, support them when
                                        they need it.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <h3>
                                    <div class="card-header">Keep community at our center</div>
                                </h3>
                                <div class="card-body">
                                    <h5 class="card-title">Community is at the heart of everything we do. Nurture
                                        healthy communitiesk.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                                <h3>
                                    <div class="card-header">Learn, share, grow</div>
                                </h3>
                                <div class="card-body">
                                    <h5 class="card-title">Adopt a Growth Mindset. Be curious and eager to learn. Aim
                                        for ethical, sustainable, long-term growth.</h5>
                                </div>
                            </div>
                        </div>
                    </div>








                    {% endblock %}