{% extends 'baseNavigation.html' %} {% block title %} StackOverflow-Where
Developers Learn,Share & Build Careers {% endblock%}



{% block body %}
<h1 class="my-3">
    <center>Welcome to stackoverflow</center>
</h1>
<!-- <div class="container">
    <div class="row">

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">
            <p class="lead">Empowering the world to develop technology through collective knowledge..</p>
        </h1>
        <hr class="my-4">
        <p>Stack Overflow is a question and answer website for professional and enthusiast programmers. It is the
            flagship site of
            the Stack Exchange Network,[4][5][6] created in 2008 by Jeff Atwood and Joel Spolsky.[7][8] It features
            questions and
            answers on a wide range of topics in computer programming.[9][10][11] It was created to be a more open
            alternative to
            earlier question and answer websites such as Experts-Exchange. Stack Overflow was sold to Prosus, a
            Netherlands-based
            consumer internet conglomerate, on 2 June 2021 for $1.8 billion.[12].</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://stackoverflow.com" role="button">Learn more</a>
        </p>
    </div>
</div>

<div class="container">
    <h1 class="my-3">
        <center>Functions</center>
    </h1>
    <div class="card">
        <div class="card-body">
            Get your doubts cleared by asking questions
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Help other developers in soving their problem
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            Learn,Share & Build Careers
        </div>
    </div>
</div>



{% endblock %}