{% extends 'baseNavigation.html' %}
{% block title %}
Write questions here
{% endblock%}



{% block body %}
<h2 class="text-center my-4">Write your Problem<h2>


        <div class="container">

            <div id="form-main">
                <div id="form-div">

                    <div class="container">

                        <form method="post">
                            {% csrf_token %}
                            {{forms.media}}

                            {{forms.as_p}}

                            <input type="submit" class="btn btn-primary mt-2" value="Ask Question">

                        </form>
                    </div>

                </div>
            </div>


            {% endblock %}