{% extends 'baseNavigation.html' %}
{% block title %}
Stack Overflow company page-Learn about stack overflow
{% endblock%}



{% block body %}
<h2 class="text-center my-4">Edit your problem<h2>


        <div class="container">

            <div id="form-main">
                <div id="form-div">

                    <div class="container">
                        <form method="post">
                            {% csrf_token %}
                            {{form.media}}
                            {{form.as_p}} </br>
                            <input type="submit" value="Update Question" class="btn btn-primary mt-2 center">
                        </form>
                    </div>

                </div>
            </div>
            {% endblock %}